@media only screen and (min-width: 320px) {
    /* phones */
    #company-address, #workhours {
        display: none;
    }

    .carousel-message button {
        top: 70%;
    }
}

@media only screen and (min-width: 480px) {

    .navbar-brand img {
        /* height: 1.5em; */
    }
    #user-button {
        margin-left: 0;
    }
    .carousel-inner>.item>img {
        height: 300px;
    }

    #company-address, #workhours {
        display: inline-block;
    }
    
    .carousel-message button {
        top: 80%;
    }
}

@media only screen and (min-width: 768px) {
    /* phones */

    #company-address, #workhours {
        display: inline-block;
    }
    
    .carousel-message button {
        top: 90%;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar {
        /* font-size: 20px; */
    }
    .navbar-brand img {
        /* height: 2em; */
    }
    #user-button {
        margin-left: 60px;
    }

    .navbar-total {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .carousel-inner>.item>img {
        height: 600px;
    }
    #company-address, #workhours {
        display: inline-block;
    }
    .carousel-message::before, .carousel-message::after, .carousel-message span::before, .carousel-message span::after {
        display: block;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
    }
    .carousel-message::before {
        top: -2px;
        left: -2px;
        border-top: 4px solid #37C989;
        border-left: 4px solid #37C989;
    }
    .carousel-message::after {
        top: -2px;
        right: -2px;
        border-top: 4px solid #37C989;
        border-right: 4px solid #37C989;
    }
    .carousel-message span::before {
        bottom: -2px;
        left: -2px;
        border-bottom: 4px solid #37C989;
        border-left: 4px solid #37C989;
    }
    .carousel-message span::after {
        bottom: -2px;
        right: -2px;
        border-bottom: 4px solid #37C989;
        border-right: 4px solid #37C989;
    }

    .carousel-message button {
        top: 100%;
    }
}

.navbar {
    margin-bottom: 0;
    font-size: 1.5vw;
}


.site-info {
    background-color: #3A3C3E;
    height: auto;
    /* width: auto; */
    padding-top: 10px;
    padding-left: 15px;
    font-size: 1vw;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.site-info p {
    display: inline-block;
    color: white;
    margin-right: 50px;
}

.site-info span {
    color: #37CA8A;
}

.navbar-total {
    background-color: white;
    text-transform: uppercase;
}

.navbar-brand {
    height: auto;
    width: 200px;
    font-size: 1.2vw;
}

.navbar-brand img {
    /* height: 2em; */
    float: left;
}

.navbar-right {
    padding-top: 10px;
}

.owl-carousel {
    /* margin-top: -10px; */
    position: relative;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    color: white;
    top: 40%;
    font-size: 50px;
    right: 80%;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    color: white;
    top: 40%;
    font-size: 50px;
    left: 80%;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: transparent;
}

.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus {
    outline: 0;
}

.owl-stage-outer * {
    /* height:100px; */
}

.owl-carousel.owl-theme .item {
    position: relative;
    padding: 15%;
    width: auto;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}

.item.fly-one {
    /* position: relative; */
    /* height: 500px; */
    height: 100%;
    background-image: url("./images/flyone.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}

.item.fly-two {
    background-image: url("./images/flytwo.jpg");
}

.item.fly-three {
    background-image: url("./images/flythree.jpg");
}

.carousel-message {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    border: 5px solid transparent;
    padding: 50px;
    border-radius: red;
}

.slide-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    margin-bottom: 0;
    text-transform: uppercase;
}

.slide-title-two {
    font-size: 1vw;
}

.carousel-message button {
    text-transform: uppercase;
    background-color: #37C989;
    width: 20vw;
    /* max-width: 100%; */
    padding: 10px;
    border: none;
    font-size: 1vw;
    position: absolute;
    /* top: 100%; */
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}